body{
    margin: 0;
   padding: 0;
}

/*top nav*/
.logo img{
   display: inline-block;
   vertical-align: top;
   width: 30%;
   margin-right: 20px;
   margin-top: 1%;
   margin-left: 10px;
}
.navbar > .navlink {
   font-family: 'Montserrat', sans-serif;
   font-weight:600;
   display: inline-block;
   float: right;
   vertical-align: top;
   margin-right: 40px;
   height: 80px;        
   line-height: 80px;
   list-style: none;
   text-decoration: none;
   font-size: 150%;
   color: black;
}

.navbar {
   width: 100%;  
   height: 12%; 
   background-color:whitesmoke;
   position: absolute;
}


.col-sm-6{
    padding-top: 3em;
    margin: 0;
    background-color:#FFE200;
    height: 550px;
}

.col-sm-6 > h1{
    font-size: 350%;
    padding-top: 1.25em;
    font-family: 'Montserrat', sans-serif;
    font-weight:900; 
}

#side {
    max-height: 100%;
    padding-top: 2em;
    margin-left: -2em;
}

.col-sm-6 > h2{
    font-size: 250%;
    padding-top: 0.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight:900; 
}

.col-sm-6 > p{
font-family: 'Montserrat', sans-serif;
font-weight:600;
font-size: 100%;
}

#email {
    width: 75px;
    margin: 10px;
}

#linkedin {
    width: 50px;
   margin: 10px;
}

/*Footer*/
.footernavigation-bar {
    width: 100%;  
    height: 125px; 
    background-color:whitesmoke; 
    margin: 0;
    padding: 0;
}
.footlogo {
    display: inline-block;
    vertical-align: top;
    float: right;
    width: 8%;
    margin-right: 50%;
    margin-top: 15px;
    
}
.footernavigation-bar > a {
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    display: inline-block;
    float: left;
    vertical-align: top;
    margin-left: 30px;
    height: 80px;        
    line-height: 80px;
    list-style: none;
    text-decoration: none;
    font-size: 150%;
    color: black;
}

footer p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    font-size: 100%;
    clear: both;
    padding-top: 1em;
    margin-left: 15px;
}

 /*responsive tablet*/
 @media only screen and (max-width: 900px){
    .logo img{
        margin-top: 3%;
        margin-left: 20px;
        width: 30%;
     }
     .navbar > a {
        margin-right: 60px;
     }
    .navbar { 
        height: 7%; 
     }

 
}

 /*responsive phone*/
 @media only screen and (max-width: 400px){
    .logo img{
        margin-top: 3%;
        margin-left: 20px;
        width: 50%;
     }

    .navbar { 
        height: 3%; 
     }
     
     .navbar > a {
        font-size: 30%;
     }


   
     .footernavigation-bar {
        height: 80px; 
    }
 
    .footernavigation-bar > a {
        margin-left: 10px;
        height: 40px;        
        font-size: 70%;
    }

    .footlogo {
        margin-top: 30px;
        width: 10%;
        
    }
    
    footer p {
        font-size: 40%;
        clear: both;
        padding-top: 1em;
        margin-left: 15px;
    }
}