body{
    margin: 0;
   padding: 0;
}

/*top nav*/

.logo {
   display: inline-block;
   vertical-align: top;
   width: 30%;
   margin-right: 20px;
   margin-top: 1%;
   margin-left: 10px;
}
.navbar > a {
   font-family: 'Raleway', sans-serif;
   font-weight:700;
   display: inline-block;
   float: right;
   vertical-align: top;
   margin-right: 40px;
   height: 80px;        
   line-height: 80px;
   list-style: none;
   text-decoration: none;
   font-size: 150%;
   color: black;
}

.navbar {
   width: 100%;  
   height: 12%; 
   background-color:whitesmoke;
   position: absolute;
}
/*Intro*/

#top{
    background: linear-gradient(to right,white 50%, #FFE200 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    transition:all 2s ease;
}
#top:hover {
    background-position:right bottom;
}

#intro{
    padding-top: 50%;
    font-size: 450%;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
}


 #laugh{
     width: 130%;
     padding-top: 20%;
     
 }

 #slider{
     background-color: #FF3B00;
 }

 #workslider{
    width: 80%;
    margin: 3em 5em 3em 5em;
 }

 #smile{
     width: 170%;
 }

 #bottom{
    background: linear-gradient(to left,white 50%, #FFE200 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 2s ease;
}
#bottom:hover {
    background-position:left bottom;
}


/*Footer*/
.footernavigation-bar {
    width: 100%;  
    height: 125px; 
    background-color:whitesmoke; 
    margin: 0;
    padding: 0;
}
.footlogo {
    display: inline-block;
    vertical-align: top;
    float: right;
    width: 8%;
    margin-right: 50%;
    margin-top: 15px;
    
}
.footernavigation-bar > a {
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    display: inline-block;
    float: left;
    vertical-align: top;
    margin-left: 30px;
    height: 80px;        
    line-height: 80px;
    list-style: none;
    text-decoration: none;
    font-size: 150%;
    color: black;
}

footer p {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight:400;
    font-size: 100%;
    clear: both;
    padding-top: 1em;
    margin-left: 15px;
}